<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Tour</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Sriracha|Raleway&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'css/my_style.css')}}">
</head>
	<body>
		<div class="wrapper">
			<div class="navbar">
			    <div>
			     
			    </div> 
				<a href="/register">Register</a>
			</div>
			<div class="col-xs-1" align="center">
				<img id="imgWall" src="{{url_for('static',filename = 'img/wall1.jpg')}}" style="width:750px">
			    <h1>Let's make a journey</h1>
				<p id="description"> If you haven't travelled to these destinations yet, it's time you start planning your holiday now.Travel around beautiful places of Kosovo.</p>
			</div>
			
		</div>
	</body>
</html>
